<div fxLayoutAlign="center center"
     class="t-search-container">
    <mat-form-field appearance="outline"
                    class="t-search-form-field">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput
               [formControl]="searchControl">
    </mat-form-field>
</div>

<div fxLayout="row wrap"
     fxLayout.lt-sm="column"
     fxLayoutAlign="center">
    <div class="t-new-contact-card"
         routerLink="/add"
         *ngIf="!favoritesOnly"
         fxFlex="270px"
         fxFlex.lt-sm="100%"
         fxLayout="column"
         fxLayoutAlign="center center"
         fxLayoutGap="3px">
        <mat-icon>add</mat-icon>
        <span>Add new</span>
    </div>
    <ng-container *ngFor="let contact of contacts">
        <div class="t-contact-card"
             fxFlex="270px"
             fxFlex.lt-sm="100%"
             routerLink="/details/{{contact.email}}">
            <div fxLayout="row">
                <button mat-icon-button
                        *ngIf="contact.isFavorite"
                        (click)="$event.stopPropagation();$event.preventDefault();toggleContactFavorite(contact);">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button
                        *ngIf="!contact.isFavorite"
                        (click)="$event.stopPropagation();$event.preventDefault();toggleContactFavorite(contact);">
                    <mat-icon>favorite_border</mat-icon>
                </button>
                <span fxFlex></span>
                <button mat-icon-button
                        class="t-edit-icon"
                        routerLink="/manage/{{contact.email}}">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button
                        (click)="deleteContact(contact)"
                        class="t-delete-icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <ngx-avatar [name]="contact.name"
                        size="70"></ngx-avatar>
            <div class="t-name-container">
                {{contact.name}}
            </div>
        </div>
    </ng-container>
</div>