.t-wrapper {
    margin-top: 50px;
}

.t-photo ngx-avatar {
    width: 190px;
    height: 190px;
    border: 4px solid #dddddd;
    display: block;
    background-color: #abd9de;
}

.t-header {
    height: 100px;
    border-bottom: 2px solid #75c1ca;
    color: #bbc4c3;
}

.t-form-section {
    padding: 20px 0 0;
}

.t-form-section:not(:last-child) {
    border-bottom: 2px solid #75c1ca;
}

.t-form-section mat-icon {    
    color: #2ea1ad;
    font-size: 18px;
    height: 18px;
}

.t-form-label {
    font-weight: bold;
    color: #2ea1ad;
}

.w-300-p {
    width: 300px;
}

.t-round-btn {
    width: 30px;
    height: 30px;
    min-width: unset;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 1.34375em;
}

.t-round-btn mat-icon {
    font-size: 14px;
}

.t-action-btn-wrapper {
    margin: 80px 0;
}

.t-action-btn-wrapper button{
    width: 160px;
    height: 40px;
    border-radius: 20px;
    color: white;
}

.t-cancel-btn {
    background-color: #bbc4c3;
}

.t-save-btn {
    background-color: #2ea1ad;
}

.t-add-btn {
    color: #2ea1ad;
}