<div fxLayout="row"
     fxLayoutAlign="center start"
     fxLayoutGap="15px"
     class="t-wrapper">
    <div fxFlex="200px"
         class="t-photo">
        <ngx-avatar [name]="contact.name"
                    size="190"></ngx-avatar>
    </div>
    <div fxFlex="650px">
        <div fxLayout="column">
            <div class="t-header"
                 fxLayout="row"
                 fxLayoutAlign="start center">
                <button mat-icon-button
                        routerLink="/">
                    <mat-icon>keyboard_return</mat-icon>
                </button>

                <div class="t-title">
                    {{contact.name}}
                </div>

                <span fxFlex></span>

                <button mat-icon-button
                        *ngIf="contact.isFavorite"
                        (click)="toggleContactFavorite()">
                    <mat-icon>favorite</mat-icon>
                </button>

                <button mat-icon-button
                        *ngIf="!contact.isFavorite"
                        (click)="toggleContactFavorite()">
                    <mat-icon>favorite_border</mat-icon>
                </button>

                <button mat-icon-button
                        routerLink="/manage/{{contact.email}}">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>

            <div fxLayout="column"
                 class="t-details"
                 fxLayoutGap="50px">
                <div fxLayout="row"
                     fxLayoutGap="50px">
                    <div fxLayout="row"
                         fxLayoutAlign="start center"
                         fxLayoutGap="15px"
                         fxFlex="150px">
                        <mat-icon>mail</mat-icon>
                        <span class="t-label">email</span>
                    </div>
                    <div>
                        {{contact.email}}
                    </div>
                </div>

                <div fxLayout="row"
                     fxLayoutGap="50px">
                    <div fxLayout="row"
                         fxLayoutAlign="start start"
                         fxLayoutGap="15px"
                         fxFlex="150px">
                        <mat-icon>phone</mat-icon>
                        <span class="t-label">numbers</span>
                    </div>
                    <div fxLayout="column">
                        <div *ngFor="let number of contact.numbers">
                            <div fxLayout="row"
                                 fxLayoutGap="30px">
                                <div>{{number.type | uppercase}}</div>
                                <div class="t-number">{{number.number}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>