<div class="t-header-container"
     fxLayout="row"
     fxLayoutAlign="center center"
     fxLayoutGap="12px">

    <button mat-button
            (click)="favoritesOnly = false;"
            [ngClass]="{'t-primary-color': !favoritesOnly}">All contacts</button>

    <div class="t-divider"></div>

    <button mat-button
            (click)="favoritesOnly = true;"
            [ngClass]="{'t-primary-color': favoritesOnly}">My favorites</button>
</div>

<app-contact-list [favoritesOnly]="favoritesOnly"></app-contact-list>